.App {
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
.user-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lists{
  border:1px solid rgb(128, 128, 236);
  padding: 20px 50px;
}
.list{
  padding: 2px 100px;
}
.list:nth-child(odd) {
  background:rgb(185, 182, 182);
}
.App form{
  margin-top: 63px;
  border: 1px solid rgb(128, 128, 236);
  padding: 50px 20px;
  width: 200px;
  height: 200px;
  display: flex;flex-direction: column;
}
.App input{
  border-color: rgb(41, 41, 230);
  margin: 10px 0px;
  padding: 5px;
  
}
.App button{
  padding: 5px;
  border: none;  
  background-color: orange;
  border-radius: 5px;
}